*{
    margin: 0;padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:#642bff ;
}
::-webkit-scrollbar-thumb{
    background: #98989C;
    border-radius: 20px;
    width: 20px;
}
.openit{
    color:#e8eaf6;
    animation: textflow 5s linear infinite;
}
/* @keyframes textflow {
        0%{
            background-color: #394645;
            color:#e8eaf6;
        } 
        25%{
            background-color: #05c65f;
            color:#394645;
        } 
        50%{
            background-color: #e55705;
            color:#0a9006;
        }
         75%{
            background-color: #99068d;
            color:#0dc8dd;
        }
        100%{
            background-color: #920303;
            color:#f9f901;
        } 
  } */